html{
    background-image: url(../images/backgroundCave.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    font-size: 48px;
    padding: 20px 0;
}

#topContent,
#bottomContent {
    margin: 0 auto;
    width: 960px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0,0, 0.8);
    margin-bottom: 50px;
    padding: 30px;
}

#bottomContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#gemBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around

}