html{
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    background-image: url(../images/backgroundCave.jpg);
    background-size: cover;
    margin: 0 auto;
    width: 960px;

}
header{
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    margin-bottom: 20px;
    width: 960px;
}


h1{
    text-align: center;
    font-size: 48px;
    padding: 20px 0;
}

#nextButton {
    margin-top: 20px;
    height: 50px;
    width: 75px;
    font-size: 18px;
    display: none;
}

#topContent,
#bottomContent {
    margin: 0 auto;
    max-width: 960px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0,0, 0.8);
    margin-bottom: 50px;
    padding: 30px;
}


#countingBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#selectBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
#bottomContent {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    
}

#gemBox {
    margin-top: 50px;
}


